{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h2>{{ object.username }} Profile </h2>

    <p>Username: {{ object.username }}</p>
    <p>Email: {{ object.email }}</p>
{% else %}

    <h2>{{ object.username }} Profile </h2>

    <p>Email: {{ object.email }}</p>
    {% endif %}

{% if object %} 
    <h2>{{ object.get_full_name|default:object.username }}'s Stories</h2>
    {% for story in object.stories.all %}
    <div class="story-card" id="story-card-{{ position }}">
        <a href="{% url 'news:story' story.id %}">
            
                <img src="{{ story.image }}">
            <div class="story-card-text">
                <h3>{{ story.title }}</h3>
                <h4><a href="{% url 'users:author-detail' story.author.id %}">{{ story.author }}</a></h4>
                <h4>{{ story.pub_date }}</h4>
            </div>
        </a>

        {% if request.user.id == story.author.id %}
        <a href="{% url 'news:editstory' story.id %}">Edit this Story</a>
        <a href="{% url 'news:deletestory' story.id %}">Delete this Story</a>
        {% endif %}
    </div>
    {% endfor %}
{% else %}
    <p>This author has not written any stories yet.</p>
{% endif %}


{% endblock %}

