
{% load static %}  

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}


<div class="story-card" id="story-card-{{ position }}">
    <a href="{% url 'news:story' story.id %}">
        
            <img src="{{ story.image }}">
        <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            <h4><a href="{% url 'users:author-detail' story.author.id %}">{{ story.author }}</a></h4>
            <h4>{{ story.pub_date }}</h4>
        </div>
    </a>
</div>
